html{
    overflow-x: hidden;
    margin: -9px;
    background: url("img/BACKGROUND.png");
    font-family: 'Hind', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.header{
    height: 735px;
    width: 1320px;
    margin: 0 auto;
}
.head-img{
    background: url("img/header-front2.jpg") no-repeat;
    width: 1241px;
    height: 580px;
    margin-left: 39px;
    position: absolute;
}
.IN_IT{
    height: 412px;
    background:#212429;
}
.top{
    display: flex;
}
.MENU{
    width: 62px;
    height: 55px;
    background: url("img/Menu_Icon.png") no-repeat;
    border-right: 1px solid #3c3c3c;
    margin-left: 39px;
    cursor: pointer;
}
.TOP_TEXT{
    width: 151px;
    height: 16px;
    background: url("img/DECOBLOG.png") no-repeat;
    margin: 17px 331px;
}
.CONTACTS{
    width: 270px;
    height: 55px;
    margin-left: 96px;
    display: flex;
}
.RIGHT_TEXT{
   width: 42px;
   height: 252px;
   background: url("img/RIGHT_TEXT.png");
   margin-left: 1138px;
   position: absolute;
   margin-top: -171px;
}
.NEWS{
color: #ffffff;
font-family: "Hind - Semibold";
font-size: 18px;
margin-top: 231px;
margin-left: 99px;
font-weight: 400;
}
.NEWS_TEXT{
    color: #ffffff;
    font-family: "Hind";
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 100px;
}
.FORM{
    display: flex;
    margin: 542px auto;
    width: 1380px;
    height: 100px;
    background-color: #f7f7f7;
    align-items: center;
}
.LEFT_TEXT_UNDER_IMG{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
}
#NAME{
    width: 450px;
    height: 50px;
    border: 0;
    position: absolute;
    margin-left: 164px;
    margin-top: -51px;
}
#MAIL{
    position: absolute;
    width: 450px;
    height: 50px;
    margin-left: 625px;
    margin-top: -51px;
    border: 0;
}
#BUTT{
    position: absolute;
    width: 282px;
    height: 50px;
    letter-spacing: 2.8px;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    border: 0;
    margin-left: 1086px;
    margin-top: -49px;
}
::-webkit-input-placeholder{
    color: #999999;
    padding-left: 30px;
    font-size: 15px;
}
.TEXT_BLOCK{
    width: 360px;
    height: 482px;
    margin-left: -4px;
}
.BLOCK{
    background-color: #ffffff;
}
.main{
    width: 1517px;
    height: 1549px;
    margin: 0 auto;
}
.TOP_IMG_PEN{
    width: 45px;
    height: 40px;
    background: url("img/PEN.png");
    margin-top: -17px;
    margin-left: 141px;
    position: absolute;
}
.TOPPER_TEXT{
    color: #999999;
    font-size: 14px;
    margin-left: 21px;
}
.MID{
    padding-top: 36px;
    padding-left: 117px;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 25px;
}
.TOP_TXT{
    text-transform: uppercase;
    margin-right: 24px;
    margin-left: -35px;
    font-size: 20px;
    margin-top: 19px;
}
.UNDER_TOP_TXT{
    color: #999999;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin-top: 19px;
    margin-left: -20px;
}
.UNDER_UNDER_TOP_TXT{
color: #464646;
font-size: 15px;
letter-spacing: 1.5px;
margin-top: 28px;
position: absolute;
margin-left: -75px;
}
.READ_MORE{
    width: 128px;
    height: 30px;
    background: url("img/READ_MORE.png");
    margin-top: 180px;
    cursor: pointer;
}
.COMMENT{
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    margin-right: 240px;
    margin-top: 120px;
    margin-bottom: 24px;
    cursor: pointer;
}
.COMMENT::before{
    content: '';
    display: flex;
    width: 16px;
    height: 12px;
    background: url("img/COMMENT.png") no-repeat;
    margin-right: 9px;
}
.SOC_SETI{
    width: 105px;
    height: 15px;
    position: absolute;
    margin-left: 247px;
    margin-top: -45px;
    display: flex;
}
.TEXT_BLOCK_BOTT{
    margin-top: -46px;
}
.IMAGE_POST_WITH_ONE_PHOTO{
    width: 360px;
    height: 555px;
    margin-left: 30px;
    background-color: #ffffff;
}
.IMAGE{
    width: 360px;
    height: 256px;
    background-color: #f4f4f4;
}
.TOP_IMG_IMAGE{
    width: 45px;
    height: 40px;
    background: url("img/IMAGE.png");
    margin-top: -17px;
    margin-left: 160px;
    position: absolute;
}
.READ_MOREE{
    width: 128px;
    height: 30px;
    background: url("img/READ_MORE.png");
    margin-top: 21px;
    cursor: pointer;
}
.IMAGE_BLOCK_BOTT{
    margin-top: -80px;
}
.TEXT_BLOCK_TWO{
    width: 360px;
    height: 399px;
    background: #ffffff;
    margin-left: 30px;
}
.TEEXT_BLOCK_BOTT{
    margin-top: -115px;
}
.CLEAR_BLOCK{
    width: 360px;
    height: 513px;
    background: #ffffff;
    margin-left: 30px;
}
.FST_ROW{
    display: flex;
}
.SEC_ROW{
    display: flex;
    margin-left: -32px;
}
.KAVICHKI{
    width: 360px;
    height: 329px;
    background-color: #212429;
    margin-top: 46px;
    margin-left: 30px;
}
.READ_MOREEE{
    width: 128px;
    height: 30px;
    background: url("img/READ_MORE.png");
    margin-top: 160px;
    cursor: pointer;
}
.TOP_IMG_KAVICHKI{
    width: 45px;
    height: 40px;
    background: url("img/KAVICHKI.png") no-repeat;
    margin-left: 150px;
    margin-top: -20px;
}
.KAVICHKI_TXT{
    text-align: center;
    color: #ffffff;
    margin-top: 41px;
    letter-spacing: 1.7px;
    font-size: 17px;
}
.AUTHOR{
    text-transform: uppercase;
    color: #999999;
    margin-top: 38px;
    margin-left: 118px;
}
.KOLAZH_BLOCK{
    width: 360px;
    height: 555px;
    background: #ffffff;
    margin-left: 24px;
    margin-top: -133px;
}
.FOUR_IMAGES{
    height: 259px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.15);
}
.TOP_LEFT, .TOP_RIGHT, .BOTTOM_RIGHT{
    width: 181px;
    height: 128px;
    border: 1px solid rgba(221, 221, 221, 0.15);
}
.BOTTOM_RIGHT{
    float: right;
    margin-top: -260px;
    width: 176px;
}
.REEAD_MORE{
    width: 97px;
    height: 31px;
    background: url("img/REEAD_MORE.png");
    margin-top: 21px;
    cursor: pointer;
}
.TEEEXT_BLOCK_BOTT{
    margin-top: -76px;
}
.TEXT_BLOCK_TREE{
    width: 360px;
    height: 482px;
    background: #ffffff;
    margin-left: 30px;
}
.REEAD_MOREEE{
    width: 129px;
    height: 31px;
    background: url("img/READ_MORE.png");
    margin-top: 178px;
    cursor: pointer;
}
.TEEEXT_BLOOCK_BOTT{
    margin-top: -52px;
}
.BLOCK_WITH_BACKGROUND{
    width: 360px;
    height: 489px;
    background: url("img/BACKGROUND_BLOCK.png") no-repeat;
    margin-top: 30px;
}
.MIDA{
    padding-top: 36px;
    padding-left: 117px;
}
.REEADD_MOREEE{
    width: 129px;
    height: 31px;
    background: url("img/READ_MORE.png");
    margin-top: 280px;
    cursor: pointer;
}
.VIDEO_BLOCK{
    width: 360px;
    height: 566px;
    background: #ffffff;
    margin-left: 30px;
    margin-top: -100px;
}
.PLAYER{
    width: 360px;
    background: url("img/PLAYER.png");
    height: 256px;
}
.TOP_IMG_VIDEO{
    width: 45px;
    height: 40px;
    background: url("img/VIDEO.png");
    margin-top: -17px;
    margin-left: 141px;
    position: absolute;
}
.THR_ROW{
    display: flex;
}
.MIDB{
    padding-top: 36px;
    padding-left: 117px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.15);
    height: 230px;
}
.TEEEXXT_BLOOCK_BOTT{
    margin-top: -100px;
}
.LINK_BLOCK{
    width: 360px;
    background: #212429;
    height: 177px;
    margin-left: 30px;
    margin-top: -60px;
}
.TOP_IMG_LINK{
    width: 40px;
    background: url("img/LINK.png") no-repeat;
    height: 35px;
    margin-top: -17px;
    margin-left: 141px;
    position: absolute;
}
.LINK{
    color: #ffffff;
    text-align: center;
}
.CONTENT{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.ONLY_IMAGE_BLOCK{
    width: 360px;
    height: 289px;
    background: #212429;
    margin-top: 160px;
    margin-left: -357px;
}
.TOP_IMG_WINDOW{
    width: 40px;
    background: url("img/WINDOW.png") no-repeat;
    height: 35px;
    margin-top: -17px;
    margin-left: 141px;
    position: absolute;

}
.AUDIO_BLOCK{
    width: 360px;
    height: 454px;
    background: #ffffff;
    margin-left: 30px;
}
.TOP_IMG_MUSIC{
    width: 40px;
    background: url("img/MUSIC.png") no-repeat;
    height: 35px;
    margin-top: -17px;
    margin-left: 141px;
    position: absolute;
}
.MUUSIC{
    width: 135px;
    height: 135px;
    background: url("img/MUUSIC_CIRCLE.png") no-repeat;
}
.CON{
    padding-top: 36px;
    padding-left: 117px;
}
.FOOT{
    width: 1638px;
    height: 412px;
    background-color: #212429;
    padding-top: 59px;
    padding-left: 54px;
    display: flex;
    margin: 70px auto;
}
.ABOUT_BLOG_TOP_TXT{
    color: #f9f9fb;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.ABOUT_BLOG_TEXT{
    color: #f9f9fb;
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-top: 39px;
}
.ABOUT_BLOG_ROSPIS{
    width: 361px;
    height: 147px;
    background: url("img/ROSPIS.png") no-repeat;
    margin-top: 11px;
}
.TWEETS{
    margin-left: 30px;
}
.TWEETS_TOP_TXT{
    color: #f9f9fb;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
input{
    color: #999999;
    padding-left: 30px;
    font-size: 15px;
    text-transform: uppercase;
}
.FST{
    width: 57px;
    height: 55px;
    background: url("img/DELITSA.png") no-repeat;
    cursor: pointer;
}
.SEC{
    width: 57px;
    height: 55px;
    background: url("img/TWITTER.png") no-repeat;
    cursor: pointer;
}
.THR{
    width: 53px;
    height: 55px;
    background: url("img/T.png") no-repeat;
    cursor: pointer;
}
.FOU{
    width: 57px;
    height: 55px;
    background: url("img/FACEBOOK.png") no-repeat;
    cursor: pointer;
}
.FIF{
    width: 59px;
    height: 55px;
    background: url("img/SEEK.png") no-repeat;
    cursor: pointer;
    margin-left: -6px;
}
.FST_ICON{
    width: 13px;
    height: 14px;
    background: url("img/BALL.png") no-repeat;
    cursor: pointer;
}
.SEC_ICON{
    width: 13px;
    height: 14px;
    background: url("img/FACEBOOK_ICO.png") no-repeat;
    cursor: pointer;
    margin-left: 19px;
}
.THR_ICON{
    width: 14px;
    height: 14px;
    background: url("img/TWIT_ICON.png") no-repeat;
    cursor: pointer;
    margin-left: 19px;
}
.FOU_ICON{
    width: 13px;
    height: 14px;
    background: url("img/PAINTEREST.png") no-repeat;
    cursor: pointer;
    margin-left: 19px;
}
.FST_NICKNAME{
    width: 213px;
    height: 14px;
    background: url("img/FST_TWEET.png") no-repeat;
    margin-top: 38px;
}
.FST_TWEET{
    margin-left: -30px;
}
.FST_DESCRIPTION{
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 30px;
    margin-top: 19px;
}
.SEC_NICKNAME{
    width: 213px;
    height: 14px;
    background: url("img/FST_TWEET.png") no-repeat;
    margin-top: 38px;
}
.SEC_TWEET{
    margin-left: -30px;
}
.SEC_DESCRIPTION{
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 30px;
    margin-top: 19px;
}
.INSTAGRAM{
    margin-left: 30px;
}
.INSTAGRAM_TOP_TXT{
    color: #f9f9fb;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 33px;
}
.INSTA_BLOCK{
    width: 119px;
    height: 98px;
    background-color: #f9f9fb;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
}
.INSTA_FST_ROW{
    display: flex;
    margin-top: 39px;
}
.INSTA_SEC_ROW{
    display: flex;
}
